@keyframes position-change {
  from {top: 0;}
  to {top: 20px}
  }
  @keyframes position-change1 {
    50% { top: 0; }
    90% { top: 30px; }
   }
  
  
  * {
    margin: 0 auto;
    padding: 0;
  }
  HTML {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
  }
  body {
    font-size: 1.6rem;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1440px;
  }
  header {
    background-color:rgb(202, 211, 23);
  
  }
  main {
    display: flex;
    flex-wrap: wrap;
  }
  .nav__list {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    padding-left: 800px;
    list-style: none;
  }
  .nav__list a {
    position: relative;
  }
  .nav__list a:after {
    top: 25px;
    position: absolute;
    width: 0;
    left: 0;
    content: "";
    background-color: rgb(20, 11, 1);
    height: 3px;
    display: block;
    transition: width 0.3s ease-out;
  }
  .nav__list a:hover:after,
  .nav__list a:focus:after {
    width: 100%;
  }
  .nav {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 36px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 2 rem;
    line-height: 40px;
    color:rgb(20, 11, 1);
  }
  section {
    width: 50%;
    border-bottom: 1px solid rgb(27, 28, 26);
  }
  @media screen and (max-width: 600px) {
    section {
      width: 100%;
    }
  }
  .about-me {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    border-bottom: 5px solid rgb(130, 130, 70);
    padding: 30px 0;
  }
  .vacancy {
    font-size: 2.6rem;
    line-height: 55px;
  }
  .photo {
    border-radius: 5%;
  }
  .ico {
    display: flex;
    width: 250px;
  }
  .animation{
    position: relative;
    animation: position-change 2s infinite;
  }
  .animation_html {
    position: relative;
    animation: position-change1 3s infinite;
  }
  .animation_css {
    position: relative;
    animation: position-change1 5s infinite;
  }
  .contact__info {
    list-style-type: circle;
  }
  .contact__info a:hover {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  #skills {
    display: flex;
    justify-content: flex-end;
  }
  
  #skills > ol {
  padding-bottom: 50px;
  }
  #skills > p {
    padding-bottom: 15px;
  }
  .ordered{
    text-decoration: none;
    transition: color 0.5s;
  }
  .ordered:hover {
    color: #5d7260;
  }
  .landing:hover {
      transform: scale(1.2, 1.2);
      transition: 1.0s;
  }
  
  .zoo:hover {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  #education {
    display: flex;
    padding: 0 0 20px;
    
  }
  .education__variant {
    padding-left: 10px;
    list-style-position: inside;
  }
  .link {
    padding-left: 10px;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(202, 211, 23);
    padding: 20px;
  
  }
  footer a:first-child {
  text-decoration: none;
  color:rgb(20, 11, 1);
  font-size: 2.6rem;
  display: block;
  display:flex;
  align-items: center;
  position: relative;
  cursor:pointer;
  }
  .github::after {
    content: "";
    position: absolute;
    top: 55px;
    display: block;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(20, 11, 1);
    transition: width 0.5s;
  }
  .github:hover:after,
  .github:focus:after {
    width: 100%; 
  }
  
  /* text*/
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 6.0rem;
    line-height: 120px;
    text-transform: uppercase;
  }
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 3.0rem;
    line-height: 60px;
  }
  p, li, pre, a {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 36px;
  }
  pre {
    background-color: rgb(240, 240, 235);
    width: 450px;
  
  }